body {
  color:aliceblue;
  background: black;
  margin: 0px;
}

header { 
   border-bottom: solid 2px rgb(255, 255, 255);
   padding: 20px;
   font-size: 32px;
   color: rgb(155, 12, 12)


}

section {
  background: rgb(37, 29, 150);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto { 
  margin-right: 10%;
}